#donate_update{
  padding: 0px 4px;
  float: left;
  font-size: .80em;
  display: inline;
  background-color: #F5F1E1;
  color: #38505C;
  font-family: Arial, "MS Trebuchet", sans-serif;
  cursor: pointer;
}
#donate_update:hover{
  background-color: #38505C;
  color: #F5F1E1;
}